@charset "utf-8";
/* CSS Document */

body,form,ul,ol,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,table,fieldset,input{margin:0; padding:0;}
body,input,select,textarea,label{color:#555555; font-family: Verdana,Helvetica; font-size:12px;vertical-align:middle; }
img{border:0; vertical-align:middle; margin:0px; padding:0px;}
ul,ol,li{list-style-type:none;}
a{ color:#2b6191; text-decoration:none;}
a{blr:expression(this.onFocus=this.blur());}   
a:focus {outline:none;-moz-outline:none;} 
.dis_none{ display:none;}

/* ==========Clear Fix 清除浮动=========*/
.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.clearfix {
display:inline-block;
}
.manageA:hover{ text-decoration:none;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
/* end of clearfix */

.fl{ float:left;}
.fr{ float:right;}
.pd10{ padding:10px;}
.pdtb15{ padding-bottom:15px; padding-top:15px;}
.mg15{ margin:15px;}
.mgr20{ margin-right:20px;}
.mgtb10{ margin-top:10px; margin-bottom:10px;}
.mgt20{ margin-top:20px;}
.wd_pdb10 p{ padding-bottom:10px;}


.f16{ font-size:16px;}
.c8{ color:#888;}

.wd_main{ width:100%; margin:0 auto; height:auto;}
.wd_head{ background:#f7f7f7; height:48px; padding:5px 10px;}
.wd_cz{display:inline-block; position:relative; padding-left:20px;}
.wd_ico{ background:url(../images/wd_ico.png) no-repeat; width:16px; height:16px; display:inline-block; position:absolute; top:0px; left:0px;}
.wd_ico1{ background-position:0px 0px;}
.wd_ico2{ background-position:-22px 0px;}
.wd_ico3{ background-position:-44px 0px;}
.wd_nav{ height:40px; line-height:40px; border-top:1px solid #478ac2; border-bottom:1px solid #478ac2; background:#61a2d8;}
.wd_nav a,.wd_nav span{ color:#fff; padding:0 25px; display:inline-block; float:left; font-weight:bold;}
.wd_nav span.place{ border-right:1px solid #478ac2; height:100%;}
.wd_nav a.next{background:url(../images/wd_navbg.gif) right no-repeat;}

.wd_footer{ height:18px; line-height:18px; background:#61a2d8; color:#fff; padding:10px;}

.wd_mainLeft{  width:180px;height:auto; overflow:hidden; }
.wd_mainLeft .ltjg_lefttop{ width:165px;background:#eeeeee; font-size:14px; font-weight:bold; height:25px; line-height:25px; border-bottom:1px solid #dadada; padding:10px;}
.wd_mainLeft .ltjp_tit{ width:180px;background:#eeeeee; font-size:14px; font-weight:bold;line-height:45px;cursor:pointer;position:relative;}
.wd_mainLeft .ltjp_tit div{ height:45px; line-height:45px; border-bottom:1px solid #dadada; padding-left:40px;}
.wd_mainLeft .ltjp_tit div.off{ border-bottom:none;}
.wd_mainLeft .ltjp_tit div em{ display:none;}
.wd_mainLeft .ltjp_tit div.off em{background:url(../images/wd_off.png) no-repeat; display:inline-block; width:9px; height:7px; position:absolute; bottom:-1px;_bottom:-39px; left:15px;}
.wd_mainLeft .ltjp_list{ display:none;width:185px;}
.wd_mainLeft .ltjp_list ul li{ background:#fff; height:35px; line-height:35px; border-bottom:1px solid #dadada;}
.wd_mainLeft .ltjp_list ul li a{ color:#555; display:inline-block;padding:10px 0 10px 40px; width:100%; line-height:15px;}
.wd_list_ico{ background:url(../images/wd_list_ico.gif) no-repeat; width:20px; height:21px; display:inline; position:absolute; bottom:13px; left:10px;}
.wd_list_ico1{ background-position:0px -22px; }
.wd_list_ico2{ background-position:0px -70px;}
.wd_list_ico3{ background-position:0px -118px;}
.wd_list_ico4{ background-position:0px -171px;}
.wd_list_ico5{ background-position:0px -223px;}
.wd_list_ico6{ background-position:0px -274px;}
.wd_list_ico7{ background-position:0px -328px;}
.wd_list_ico8{ background-position:0px -379px;}
.wd_list_ico9{ background-position:0px -432px;}
.wd_list_ico10{ background-position:0px -483px;}
.wd_list_ico11{ background-position:0px -536px;}
.wd_list_ico12{ background-position:0px -589px;}
.wd_list_ico13{ background-position:0px -638px;}
.wd_list_ico14{ background-position:0px -692px;}
.wd_list_ico15{ background-position:0px -742px;}
.wd_list_ico16{ background-position:0px -795px;}
.wd_list_ico17{ background-position:0px -848px}

.wd_welcome{ background:#f7f7f7; border:1px solid #e9e9e9; padding:15px 20px; _padding:20px;*padding:20px; height:auto; overflow:hidden;}
.wd_title{ border-bottom:3px solid #efefef; color:#3b6baa; font-size:14px; font-weight:normal; padding-bottom:5px; }
.wd_listUl li{ background:url(../images/wd_point.png) no-repeat left; padding:8px 0 8px 15px }

.task-alert ul li{ border-bottom:1px dotted #e0e0e0; padding:10px 0; }
.task-alert ul li strong{color:#4186bf}
.control-box p{ line-height:1.8em}
.control-box p span{color:#4186bf}

.rbox{ position:relative}
.rbox .img{width:100px; position:absolute;left:0; top:15px;}
.rbox .txt{ margin-left:120px}
.use-help td{ padding: 10px} 
.use-help th{ text-align:left;  padding:10px; }
.use-help th a.h1{background:url(../images/help-ico1.gif) no-repeat 0 center; padding-left:20px}
.use-help th a.h2{background:url(../images/help-ico2.gif) no-repeat 0 center; padding-left:20px}


/*2014-04-11 txq stylecss*/
.mgr10{ margin-right:10px;}
.base_title{ border-bottom:#bcbcbc solid 2px; font-size:14px; color:#555; line-height:28px; height:28px; padding:0px 5px;}
table.small_space{ background:#ccc;word-break:break-all; word-wrap:break-all;}
table.small_space td p{/*padding: 5px;color:#555; line-height:1.2em*/}
table.small_space th{ background:#eee;color:#555;line-height:2em;padding:5px;text-align:left; border:1px solid #ccc;}
table.small_space td{ background:#fff;padding:10px 5px;border:1px solid #ccc;}
table.small_space th.tc{ text-align:center;}
table.small_space td.set a{ display:inline-block; margin:0 5px 0 0;}

/* page */
.base_page{ text-align:center;text-align:center;padding:10px 0;}
.base_page a{padding:3px 7px;border:1px solid #cecece;margin:0 2px;color:#222;}
.base_page span.on,.base_page a:hover{background:#478AC2;color:#fff;padding:3px 7px; border:#cecece solid 1px; text-decoration:none;}
.base_page a.btn,.base_page span{margin:0 3px;}
.base_page a.btn:hover{background:#478AC2;color:#fff;border:#cecece solid 1px; text-decoration:none;}


/* font */
.f12{font-size:12px;font-family:verdana, Helvetica, sans-serif;}
.f14{font-size:14px;font-family:verdana, Helvetica, sans-serif;}
.f16{font-size:16px;font-family:verdana, Helvetica, sans-serif;}
.f18{font-size:18px;font-family:'Microsoft YaHei',verdana, Helvetica, sans-serif;}
.f24{font-size:24px;font-family: 'Microsoft YaHei',verdana, Helvetica, sans-serif,;}

/* btn */
.btn_blue,.btn_gray{height:30px; line-height:30px;padding:0 16px;*padding:0px 8px;background:#478AC2;color:#fff;display:inline-block;border-radius:2px;font-size:14px; cursor:pointer;border:#478AC2 solid 0px;font-weight:bold;}
.btn_gray{background:#eee;color:#555; border:#d8d8d8 solid 1px;}
.btn_blue:hover{ background:#497cc0; color:#fff; text-decoration:none;}
.btn_gray:hover{background:#d7d7d7; border:#d7d7d7 solid 1px;color:#555;text-decoration:none;}
.bigbtn_blue,.bigbtn_gray{height:40px;padding:0 30px;*padding:0 15px;background:#478AC2;color:#fff;display:inline-block;border-radius:2px;font-size:16px;font-family:Arial, Helvetica, sans-serif;cursor:pointer;border:#478AC2 solid 1px;font-weight:bold; line-height:40px;}
.bigbtn_gray{background:#eee;color:#555; border:#d9d9d9 solid 1px;}
.bigbtn_blue:hover{background:#497cc0;color:#fff; text-decoration:none;}
.bigbtn_gray:hover{background:#d7d7d7;color:#555;text-decoration:none;}

/* input */
.radioTb .radioBtn,.radioTb .radioBtn_on{display:inline-block;background:url(../images/radio.png) 0% 0%;width:20px;height:21px;overflow:hidden;vertical-align:middle;margin-right:3px;cursor:pointer;cursor:pointer;}
.radioTb .radioBtn_on{background-position:0% 100%;}
.ckboxTb .ckboxBtn,.ckboxTb .ckboxBtn_on{display:inline-block;vertical-align:middle;width:20px;height:21px;overflow:hidden;background:url(../images/base/checkbox.png) 0% 0%;margin-right:3px;cursor:pointer; }
.ckboxTb .ckboxBtn_on{background-position:0% 100%; }
.inp{padding:5px;border:1px solid #d5d5d5;/*border-radius:4px;box-shadow:1px 1px 2px #eaeaea inset;*/ height:18px;}
.inp:focus{border:1px solid #478AC2;}
.inp.focus{ text-decoration:none;outline:none; blr:expression(this.onFocus=this.blur()); color:#888;}
.txq_infor{ color:#555;}
.txq_infor table td{ color:#555; padding:8px 2px;}
.red{ color:#C00;}

.sel{ padding:5px; border:1px solid #ccc;}
.txq_main .Wdate{ height:28px; border:1px solid #D5D5D5;}
.txq_txtbox{ border:1px solid #dadada; border-radius:4px; background:#F5F6F7; padding:10px;}

/*tab*/
.left_titul{ border-bottom:#e0e4e6 solid 1px;color:#333; height:35px; line-height:32px; clear:both;_position:relative;background:#f8f8f8;}
.left_titul p{ border-left:#e0e4e6 solid 1px; clear:both; width:auto; zoom:1;overflow:hidden;}
.left_titul p a{ float:left; padding:0px 25px;background:#f8f8f8;border-top:#f8f8f8 solid 3px; border-right:#e0e0e0 solid 1px; cursor:pointer;font-size:14px; color:#656565;font-weight:bold;font-family:Arial, Helvetica, sans-serif, 'Microsoft YaHei';text-decoration:none;}
.left_titul p a.on{ background:#fff; height:33px;border-top:3px solid #38a2db;_margin-bottom:-1px;_position:relative;}
.tab_new{  padding:10px; border:1px solid #E0E0E0; border-top:0 none;}

/*popup*/
.popup{width:520px;padding:8px;background:url(../images/popupBg.png); z-index:999; }
.popup .tit{background:#5b8ed1;height:45px;line-height:45px;font-size:16px; font-weight:bold;color:#fff;padding-left:15px;}
.popup .tit .close{width:48px;height:45px;display:block;background:url(../images/close.png) no-repeat 0px 0px;float:right; font-size:0px;cursor:pointer; color:#5b8ed1;}
.popup .tit .close:hover{background:url(../images/close.png) no-repeat 0px -45px;}
.popup .cont{background:#fff;}
#screen{width:100%;height:100%;position:absolute;top:0;left:0;display:none;z-index:100;background-color:#666;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;}


























